@import 'nib'
@import 'nib/gradients'
blueTelmex = #2196F3
DarkPrimary = #0288d1
PrimaryColor = #03a9f4
LightPrimary = #b3e5fc
TextIcons = #fff
Accent =  #9e9e9e
PrimaryText = #212121
SecondaryText = #727272
Divider = #B6B6B6
#map-canvas
	height 100%
	width 100%
	margin 0
	padding 0
	position fixed !important
	top 50px
	left 0%
	.title
		text-align center
		font-weight bold
		margin 0 0 10px 0
		font-size 15px
	.btnCtnMap
		display block
		padding 3px 10px
		background #EC407A
		color #fff
		float right
		font-weight 600
#circule
	user-select none
	tap-highlight-color transparent
	width 80px
	height 80px
	background #008c9e
	border-radius 50%
	position absolute
	z-index 4
	right -44px
	top 123px
	box-shadow inset 3px 3px 10px #111
	h1
		font-size 24px
		line-height 80px
		color #fff
		padding 0 0 0 12px
		margin 0
		&:before
			font-family 'FontAwesome'
			content '\f067'
#circule.open
	h1
		&:before
			content '\f00d'
#map-menu
	overflow hidden
	top 163px
	height 0px
	width 0px
	position absolute
	right -100px
	z-index 3
	border-radius 50%
	transition all .2s ease
	#menuPuller,#techMenu,#chartMenu,#fildersMenu,#clientMenu,#flushTodo,#navegacionMenu
		text-align center
		background #EC407A
		width 100px
		height 100px
		i
			font-size 20px
			color #fff
			line-height 100px
	#flushTodo
		background #D6356B
#map-menu.open
	top 65px
	height 200px
	width 200px
	transition all .2s ease
#overMenuMap
	width 100%
	height 100%
	position fixed
	z-index -99
	opacity 0
	transition opacity 1.3s
#overMenuMap.open
	z-index 2
	background rgba(0,0,0,.3)
	opacity 1
	transition opacity 1.3s
#menu 
	width 100% 
	height 100% 
	position absolute
	background blueTelmex
	z-index 9999
	top 100%
	opacity 0 
	select 
		margin-top 20px
		width 80% 
		padding 10px 
		background transparent url(../../css/img/select.png) no-repeat 90% center/ 10px auto
		outline none 
		border none
		color #fff
		border-bottom 1px solid #fff
		text-align center
	#distritosText
		display none 
		small 
			color #fff 
			text-align center
			display block
		input[type="text"]
			margin-top 30px
			background transparent
			border none
			color #fff
			padding 10px
			border-bottom 1px solid #fff
		i
			color #fff
			font-size 35px
			vertical-align middle
		#listaDist
			margin-top 10px
			li
				display inline
				color red
				margin-left 10px
				&:after
					content ('-')
	#mostrarDatosGeoTel
		margin-top 20px
		background green
		border none
		padding 10px 20px
		border-radius 5px
		color #fff
	#menuJumper
		background #fff
		text-align center
		border-bottom 1px solid #fff
		i 
			display block 
			color blueTelmex
			font-size 35px 
			padding 5px
	.inner
		text-align center
		h3
			color #fff
#menu.active
	top 0px
	opacity 1
#nameDistrict
	z-index 8
	width 100%
	position fixed
	bottom 0
	color #fff
	background #fff
	text-align center
	height 40px
	border-top 1px solid Divider
	transition all .3s ease
	.inner
		background #00b4cc
		height 40px
		width 100%
		border-bottom 1px solid #66BDDE
		box-shadow 0 2px 8px #555
		z-index 9
		&:before
			content "\f077"
			display inline-block
			font-size 30px
			font-family 'FontAwesome'
	#loadInMap
		height 100%
		padding-bottom 60px
		overflow auto
		#workZone
			width 100%
			text-align left
			padding 10px 0px
			.left
				width 50px
				display inline-block
				text-align center
				small
					font-weight 800
					text-decoration underline
			.right
				text-align left
				width calc(100% - 100px)
				display inline-block
				margin-left 20px
				small
					font-weight 800
					text-decoration underline
	#distZone,#areaZone
		text-align left
		margin 30px 0
		text-align center
		overflow hidden
		&:before
			width 95%
			display block
			text-align left
			content 'Distritos'
			color #ccc
			margin 0 auto
			font-weight 600
		.row
			background #92CAE0
			border-bottom 1px solid #87ABC1
			width 95%
			padding 0 1px
			text-align left
			margin 0 auto
			text-align center
			position relative
			&:after
				content "\f00d"
				display block
				position absolute
				top 16px
				left 10px
				font-size 24px
				width 24px
				height 24px
				text-shadow -1px -1px 1px #666
				font-family 'FontAwesome'
			label
				padding 20px 0
				color #fff
				display inline-block
			input.todo
				opacity 0
				cursor pointer
				position absolute
				top 16px
				left 10px
				width 24px
				height 24px
				z-index 999
			.filters
				max-height 0px
				overflow hidden
				transition max-height .3s ease
				color #333
				label
					display block
				div
					background #fff
					padding 10px 0
					overflow hidden
					label.ATM
						color #5FB404
					label.FTTH
						color #FF8000
					label.IPDSLAM
						color #0080FF
					label.ND
						color #8000FF
					label.TBA
						color #B40404
					label.VDSL.IPD
						color #FF00FF
					label.VDSL.TBA
						color #01DFD7
					label.WIMAX
						color #FFBF00
				.Usuarios
					padding 0
					label
						background #efefef
						margin 5px 0 0 1%
						color #aaa
						width 49%
						float left
						box-shadow inset 1px 1px 2px #aaa
						border-bottom 1px solid #e1e1e1
						&:before
							display inline
							content '\f096'
							font-family 'FontAwesome'
						input
							opacity 0
					label:nth-child(2)
						margin-left 0
						box-shadow inset -1px 1px 2px #aaa
					label.checked
						color #00B4CC
						&:before
							content '\f046'
				.Tecnologias
					text-align left
					h4
						margin 14px 0
						color #EC407A
						border-bottom 1px solid #eee
						padding 0 10px 5px 10px
					label
						margin 0
						padding 7px 20px
						&:before
							content "\f096"
							display inline-block
							font-size 16px
							font-family 'FontAwesome'
							margin-right 10px
						input
							opacity 0
							width 2px
					label.checked
						&:before
							content "\f046"
		.row.checked
			&:after
				content "\f00c"
		.row.open
			.filters
				max-height 1900px
	#areaZone
		&:before
			//content 'Áreas'
		.row
			background #7BD099
			border-bottom 1px solid #68A583
#nameDistrict.open 
	height 60%
	.inner
		&:before
			content "\f078"
.select-filter
	background red !important
.activoEnlaLista
	list-style outside none none
	background transparent
	z-index 99
	position absolute
	top 0
	width 100%
	height 100%
#openFilter 
	display block
	width 100% 
	height 100% 
	position fixed
	top 0%
	left 100%
	background rgba(255,255,255,.7)
	opacity 0
	z-index: 9999999;
#openFilter.open 
	left 0
	//z-index: 999
	opacity 1
#tecnoDialog,#genericLoad,#poiLoad
	overflow hidden
	width 100% 
	height 0px
	position fixed
	bottom 0
	left 0
	background #fff
	z-index 1
	transition all 0.3s ease
	#closeLoader,#closeGeneric,#closePoi
		width 100%
		height 49px
		text-align center
		background #00b4cc
		box-shadow 0 2px 10px #333
		z-index 3
		i
			color #fff
			font-size 30px
			padding 5px 0px
	.inner
		overflow-x hidden
		overflow-y auto
		margin 0
		height 92%
		#regresaChart
			background #fff
			overflow hidden
			padding-top 20px
			#linearChart
				margin 0 0 20px 0
				padding-bottom 10px
				border-bottom 1px solid #eee
		h5
			color blueTelmex
			text-align center
		.filtersLine 
			width 90%
			margin 0 auto
			.filter
				width 100%
				text-align center
				background blueTelmex
				border-radius 5px 
				margin 5px
				cursor pointer
				h1
					padding 20px 0px
					color #fff 
					font-weight 100 
					font-size 15px 
		.loadArea 
			h1 
				display none !important
		.tecnoCheck
			display none
			width 100%
			margin-top 0px
			background rgba(255,255,255,.85)
			padding-bottom 20px
			li
				margin 0 auto
				text-align left
				display block
				padding 10px
				float none
				list-style none
				width 38%
				border-bottom 1px solid blueTelmex	
		#poiCheck
			width 100%  
			height 70% 
			position absolute
			overflow-x hidden
			li 
				width 100% 
				padding 10px 
				font-size 12px 
				color blueTelmex
				border-bottom 1px solid blueTelmex
				background rgba(255,255,255,.5)
				vertical-align middle
				input  
					vertical-align middle
		.center
			text-align center 
			width 100% 
			color blueTelmex
		#verSelecion
			background green 
			padding 10px 5px
			width 120px 
			border-radius 5px
			margin 20px auto
			p
				display inline-block
				color #fff 
				margin 0
				font-size 15px
			i
				display inline-block 
				color #fff
				font-size 20px
				margin-left 5px
		form
			margin-top 10px
			fieldset
				color #fff
				background #2196f3
				overflow hidden
				border 0
				margin 10px
				padding 15px
				text-align center
				h3
					color #fff
					text-align center
					margin 10px 0 25px 10px
					padding 0
					font-size 1.5em
				input[type="text"]
					background #58ABEC
					border 0
					padding 10px
					width 90%
					margin 12px auto
					display block
					appearance none
				input[type="text"]:first-child
					margin-top 20px
				::-webkit-input-placeholder
					color #f1f1f1
				:-moz-placeholder
					color #f1f1f1
				::-moz-placeholder
					color #f1f1f1
				:-ms-input-placeholder
					color #f1f1f1
				.onoffswitch
					position relative
					width 55px
					-webkit-user-select none
					-moz-user-select none
					-ms-user-select none
					margin-left 10px
					.onoffswitch-checkbox
						display none
					.onoffswitch-label
						display block
						overflow visble
						font-size 1.1em
						white-space nowrap
						cursor pointer
						height 20px
						padding 0 0 0 55px
						line-height 20px
						border 0px solid #FFFFFF
						border-radius 30px
						background-color #9E9E9E
						color #ccc
					.onoffswitch-label:before
						content ""
						display block
						width 30px
						margin -5px
						background #FFFFFF
						position absolute
						top 0
						bottom 0
						right 31px
						border-radius 30px
						box-shadow 0 6px 12px 0px #757575
					.onoffswitch-checkbox:checked + .onoffswitch-label
						background-color #295171
						color #fff
					.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before
						border-color #42A5F5
					.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
						margin-left 0
					.onoffswitch-checkbox:checked + .onoffswitch-label:before
						right 0px
						background-color #31DE46
						box-shadow 3px 6px 18px 0px rgba(0, 0, 0, 0.2)
				span
					overflow hidden
					display inline-block
					font-size 1.3em
					padding-bottom 14px
					margin-left 10px
				button
					display block
					margin 10px auto
					background #82B149
					border 0
					padding 10px
				textarea.ok
					background transparent
					border none
					outline none
				textarea.edit 
					border 1px solid #fff 
					background rgba(255,255,255,.8)
					color blueTelmex
#tecnoDialog.open,#genericLoad.open,#poiLoad.open
	opacity 1
	z-index 99999
	height 100%
	transition all 0.3s ease
#goTo
	z-index 0
	width auto
	right -140px
	height 60px
	position absolute
	top 66px
	overflow hidden
	div
		border 1px solid #fff
		z-index 8
		height 35px
		width 35px
		text-align center
		border-radius 5px
		background blueTelmex
		display inline-block
		i
			top 50% !important
			position relative !important
			transform translateY(-50%) !important
			color #fff
			background blueTelmex
			z-index 9 
			padding 6px 8px
			border-radius 5px
#goTo.open
	right 69px
#centraUsuario
	width 35px
	height 35px
	margin 0
	padding 0
	background #fff
	cursor pointer
	position absolute
	bottom 70px
	left 10px
	border-radius 50%
	text-align center
	box-shadow 0 0 1px #ABABAB
	i 
		color #666
		font-size 23px
		line-height 35px
@css{
	#menuPullerWiket{
			position:absolute;
			background-image:url(../images/menu_top.png);
			z-index:1;
			width:37px; 
			height:36px;
			cursor:pointer;
			right:0;
			top:8px;
			margin-right:23px;
		}		
		
		.titleMenu{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:30px;
			border-top:#CCCCCC solid 1px;
		}
		
		.titleMenuWiket{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:15px;
			text-align:left;
			border-top:#CCCCCC solid 1px;
		}		
		
		.widg{
			width:400px;
			height:430px;
			position:absolute;
			top:100px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#CCCCCC solid 1px;
			list-style:none;
		}
		
		#socketizable{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:500px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
		}
		
		.mapaDin{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:560px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
			visibility:hidden; 
			min-width:400px;
		}
		
		#distritosXareaPOP{
			width:1000px;
			height:900px;
		}
		
		/*.mapaDin{
			width:1000px;
			height:900px;
		}	*/	
		
		#graphs{
			width:400px;
			height:400px;
			position:absolute;
			top:550px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#CCCCCC solid 1px;
		}		
		
		.manejador{
			background-color:#CCCCCC;
			height:25px;
			cursor:move;
			border-bottom:#999999 solid 1px;
			width:inherit;
		}	

		
		#gallery{
			margin:10px;
			list-style:none;
		}

		#gallery li{
			width:160px;
			height:153px;
			background-color:#FFFFFF;
			border:solid 1px #000000;
			margin:5px;
			display:inline;
			float:left;
			font-size:10px;
			text-align:center;
			padding:0px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			line-height:25px;			
		}

		#widgets{
			display:block;
			width:200px;
			height:200px;
			zindex:2; 
			position:absolute; 
			top:420px; 
			left:10px; 
			/*background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');*/
		}
		
				
		
		#divic td, #ares td, #distr td{
			/*margin:5px 20px;*/
			background-color:rgba(235,248,204,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCDAF7C7', endColorstr='#CCDAF7C7');
			/*line-height:30px;*/
			padding:3px;
			border-bottom:#FFFFFF solid 1px;
		}
		
		#widgets ul{
			margin:0px; 
			padding:0px;
			list-style:none;
		}		
		

		
		
		#detalleSlide{
			right:0; 
			top:50px;		
			position:absolute;
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			background-color:rgba(250,250,250,0.9);
			z-index:1;
			width:100%; 
			height:95%;
			color:#333333;
			font-size:12px;
			float:right;
			border-left:#CCCCCC solid 1px;
			overflow:auto;
		}		
		



#tecnoCheck,#poiCheck{
	margin:0px;
	padding:0px;
}



#dist{
	text-align: center !important;
	padding-top: 10px !important;
}

}
@keyframes slideTitle
	0%
		opacity 0
		width 0
		right -200px
	25%,75% 
		opacity 1
		width 130px
		right 28px
	100%
		opacity 0 
		width 0
		right -200px

.select
	position relative
	background red !important
	padding-bottom 0px !important
	
	.tecnoCheck 
		display block !important
.toolTipMap 
	div 
		margin 5px 0px
		display block 
		small 
			display block 
			
		span
			display block 
			
.uncheck 
	background grey !important
	i 
		color red !important
//funcionalidad reporte 
#mapReport 
	width 100% 
	height 100% 
	position fixed 
	top 0px 
	left 100% 
	background url(../../css/img/assets/blur.jpg) no-repeat center center /cover
	#closeReport 
		width 50px 
		height 50px 
		background red 
		border-radius 100% 
		position absolute
		right 20px
		top 20px
		cursor pointer
		p 
			transform translateY(-50%) rotate(45deg)
			top 50% 
			position absolute
			text-align center 
			margin 0px 
			padding 0px
			width 100%
			font-size 30px 
			font-weight 800
	.holder 
		width 100% 
		height calc(100% - 90px)
		margin-top 90px
		.holderSelect 
			width 100% 
			position relative 
			height auto 
			top 50% 
			transform translateY(-50%)
			text-align center
			width 90%
			margin 0 auto
			h3 
				font-weight 100 
				font-size 22px
				text-shadow 2px 2px 2px black
			div
				color #fff 
				font-size 18px 
				font-weight 100
				background blueTelmex
				width 100% 
				padding 20px 0
				margin 10px 0
				.cliente 
					width 100% 
					height 100px 
					background url(../../css/img/assets/001.png) no-repeat center center 
				.no-cliente 
					width 100% 
					height 150px 
					background url(../../css/img/assets/001.png) no-repeat center center 
			#dataFor 
				background transparent
			.getData 
				background transparent
				input[type="text"]
					color #fff
					background transparent
					border none
					border-bottom 1px solid #fff 
					outline none
					margin 10px 0
				.textcontent
					position relative
					background transparent
					textarea 
						background rgba(0,0,0,.25)
						outline none
						margin-top 15px
						height 120px
						resize none
						border-radius 15px
						border none
						padding 10px
					textarea.edit
						color black 
						background #fff
						border-color #9ecaed
						box-shadow 0 0 10px #9ecaed
					button 
						color #fff 
						background red 
						border none 
						margin 20px 
						font-size 15px
						padding 10px 20px 
						outline none
						position absolute
						right -2%
						top 0%
						border-radius 100%
						padding 10px 12px
						box-shadow -3px 2px 5px black
				.camp
					width 90% 
					background blueTelmex
					border 1px solid #fff 
					border-radius 5px
					padding 10px 0px
					text-align center
					margin 10px auto
					h3,p
						margin 0
						background transparent
						width auto
				.camp.active 
					background red
				p 
					background green
					width 120px 
					margin 0 10px
					padding 10px 
					margin 0 10px
					cursor pointer
					display inline-block
					i 
						padding-left 5px
				p.end 
					background red
				select 
					width 100%
					background transparent url(../../css/img/assets/arrowBottom.png) no-repeat 98% center /10px
					border none 
					border-bottom 1px solid #fff
					text-shadow -3px 2px 1px black
					margin-bottom 40px
#mapReport.open 
	left 0px
	#textRepo
		transition all .5s linear
		width 250px
		right -250px
		top 10px
		position absolute  
		border-radius 15px
		border-top-right-radius 0px 
		border-bottom-right-radius 0px 
		color #fff 
		text-shadow -1px 0px 2px black
		font-weight 800
		box-shadow -2px 5px 15px black
	#textRepo.open
		transition all .5s linear
		right 0px
	#textRepo.open.error 
		background red
	#textRepo.open.alert 
		background #2196F3 

#campaniasAsignadas
	width 95%
	margin 20px auto 0 auto
	padding 0px
	h3 
		color #fff
		padding 20px 0px
		margin 0px
		font-weight 100
		background #71859A
		text-transform uppercase
	.row
		border-left 1px solid #e0e0e0
		border-right 1px solid #e0e0e0
		border-bottom 1px solid #e0e0e0
		.color
			width 30px
			height 30px
			display block
			position absolute
			left 10px
			top 10px
			border-radius 50%
			box-shadow inset -1px -1px 1px #777
		.innerRow
			padding-left 50px
			overflow hidden
			p
				text-align left
				margin 10px 0
				padding 0
			.titulo
				width 100%
				font-weight 600
				p
					font-size 16px
					margin-bottom 2px
			.descripcion
				p
					color #727272
					margin-top 0
					font-size 13px
#imageDisplay
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	z-index 9999
	overflow hidden
	background #000
	#closeImageDisplay
		text-shadow 0px 0px 8px #000
		color #fff
		position absolute
		display block
		bottom 5px
		right 10px
		z-index 2
		&:before
			font-family 'FontAwesome'
			display inline-block
			content '\f057'
			font-size 35px
	img
		position absolute
		width 154%
		height 52%
		transform rotate(90deg)
		left -27%
		top 24%