#map-canvas{max-width:700px;min-height:500px;height:90%;width:100%;margin:0;padding:0;position:fixed !important;top:50px;left:0%;-webkit-transition:all 0s ease !important;-moz-transition:all 0s ease !important;-o-transition:all 0s ease !important;-ms-transition:all 0s ease !important;transition:all 0s ease !important}#circule{width:50px;height:50px;background:#2196f3;-webkit-border-radius:50%;border-radius:50%;position:absolute;z-index:9;right:10px;top:60px;text-align:center;cursor:pointer;border:1px solid #fff;}#circule h1{-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);top:50%;position:relative;color:#fff;text-align:center;padding:0;margin:0}#circule.open{-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-o-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);background:#f00}#map-menu{display:block;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);top:-180px;height:50%;width:50px;position:absolute;right:7px;z-index:-1;}#map-menu #menuPuller,#map-menu #techMenu,#map-menu #chartMenu,#map-menu #fildersMenu,#map-menu #clientMenu,#map-menu #flushTodo,#map-menu #navegacionMenu{border:1px solid #fff;position:absolute;right:10px;z-index:9;top:60px;height:35px;width:35px;text-align:center;-webkit-border-radius:5px;border-radius:5px;background:#2196f3;z-index:9;}#map-menu #menuPuller i,#map-menu #techMenu i,#map-menu #chartMenu i,#map-menu #fildersMenu i,#map-menu #clientMenu i,#map-menu #flushTodo i,#map-menu #navegacionMenu i{top:50% !important;position:relative !important;-webkit-transform:translateY(-50%) !important;-moz-transform:translateY(-50%) !important;-o-transform:translateY(-50%) !important;-ms-transform:translateY(-50%) !important;transform:translateY(-50%) !important;color:#fff;background:#2196f3;z-index:9;padding:6px 8px;-webkit-border-radius:5px;border-radius:5px}#map-menu #menuPuller .showtitle,#map-menu #techMenu .showtitle,#map-menu #chartMenu .showtitle,#map-menu #fildersMenu .showtitle,#map-menu #clientMenu .showtitle,#map-menu #flushTodo .showtitle,#map-menu #navegacionMenu .showtitle{top:0;margin:0;position:absolute;right:28px;height:15px;width:130px;background-color:#2196f3;padding:10px 5px;color:#fff;-webkit-border-radius:5px;border-radius:5px;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-animation:slideTitle 3s ease;-moz-animation:slideTitle 3s ease;-o-animation:slideTitle 3s ease;-ms-animation:slideTitle 3s ease;animation:slideTitle 3s ease;}#map-menu #menuPuller .showtitle small,#map-menu #techMenu .showtitle small,#map-menu #chartMenu .showtitle small,#map-menu #fildersMenu .showtitle small,#map-menu #clientMenu .showtitle small,#map-menu #flushTodo .showtitle small,#map-menu #navegacionMenu .showtitle small{color:#fff;text-align:center;position:absolute;min-width:130px;top:10px;left:0}#map-menu.open{opacity:1;-ms-filter:none;filter:none;display:block;height:50%;width:50px;top:110px;z-index:9;}#map-menu.open #techMenu{top:5px;}#map-menu.open #techMenu .showtitle{display:none;-webkit-animation:slideTitle 3s ease;-moz-animation:slideTitle 3s ease;-o-animation:slideTitle 3s ease;-ms-animation:slideTitle 3s ease;animation:slideTitle 3s ease;-webkit-animation-delay:5s;-moz-animation-delay:5s;-o-animation-delay:5s;-ms-animation-delay:5s;animation-delay:5s}#map-menu.open #chartMenu{top:50px;}#map-menu.open #chartMenu .showtitle{display:none;-webkit-animation:slideTitle 3s ease;-moz-animation:slideTitle 3s ease;-o-animation:slideTitle 3s ease;-ms-animation:slideTitle 3s ease;animation:slideTitle 3s ease;-webkit-animation-delay:8s;-moz-animation-delay:8s;-o-animation-delay:8s;-ms-animation-delay:8s;animation-delay:8s}#map-menu.open #fildersMenu{top:95px;}#map-menu.open #fildersMenu .showtitle{display:none;-webkit-animation:slideTitle 3s ease;-moz-animation:slideTitle 3s ease;-o-animation:slideTitle 3s ease;-ms-animation:slideTitle 3s ease;animation:slideTitle 3s ease;-webkit-animation-delay:11s;-moz-animation-delay:11s;-o-animation-delay:11s;-ms-animation-delay:11s;animation-delay:11s}#map-menu.open #clientMenu{top:143px;}#map-menu.open #clientMenu .showtitle{display:none;-webkit-animation:slideTitle 3s ease;-moz-animation:slideTitle 3s ease;-o-animation:slideTitle 3s ease;-ms-animation:slideTitle 3s ease;animation:slideTitle 3s ease;-webkit-animation-delay:14s;-moz-animation-delay:14s;-o-animation-delay:14s;-ms-animation-delay:14s;animation-delay:14s}#map-menu.open #navegacionMenu{top:189px;}#map-menu.open #navegacionMenu .showtitle{display:none;-webkit-animation:slideTitle 3s ease;-moz-animation:slideTitle 3s ease;-o-animation:slideTitle 3s ease;-ms-animation:slideTitle 3s ease;animation:slideTitle 3s ease;-webkit-animation-delay:17s;-moz-animation-delay:17s;-o-animation-delay:17s;-ms-animation-delay:17s;animation-delay:17s}#map-menu.open #flushTodo{top:235px;}#map-menu.open #flushTodo .showtitle{display:none;-webkit-animation:slideTitle 3s ease;-moz-animation:slideTitle 3s ease;-o-animation:slideTitle 3s ease;-ms-animation:slideTitle 3s ease;animation:slideTitle 3s ease;-webkit-animation-delay:20s;-moz-animation-delay:20s;-o-animation-delay:20s;-ms-animation-delay:20s;animation-delay:20s}#menu{width:100%;height:100%;position:absolute;background:#2196f3;z-index:9999;top:100%;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);}#menu select{margin-top:20px;width:80%;padding:10px;background:transparent url("../../css/img/select.png") no-repeat 90% center/10px auto;outline:none;border:none;color:#fff;border-bottom:1px solid #fff;text-align:center}#menu #distritosText{display:none;}#menu #distritosText small{color:#fff;text-align:center;display:block}#menu #distritosText input[type="text"]{margin-top:30px;background:transparent;border:none;color:#fff;padding:10px;border-bottom:1px solid #fff}#menu #distritosText i{color:#fff;font-size:35px;vertical-align:middle}#menu #distritosText #listaDist{margin-top:10px;}#menu #distritosText #listaDist li{display:inline;color:#f00;margin-left:10px;}#menu #distritosText #listaDist li:after{content:'-'}#menu #mostrarDatosGeoTel{margin-top:20px;background:#008000;border:none;padding:10px 20px;-webkit-border-radius:5px;border-radius:5px;color:#fff}#menu #menuJumper{background:#fff;text-align:center;border-bottom:1px solid #fff;}#menu #menuJumper i{display:block;color:#2196f3;font-size:35px;padding:5px}#menu .inner{text-align:center;}#menu .inner h3{color:#fff}#menu.active{top:0;opacity:1;-ms-filter:none;filter:none}#nameDistrict{width:100%;position:fixed;bottom:0;color:#fff;background:#2196f3;text-align:center;height:30px;}#nameDistrict .inner{height:30px;width:100%;display:block;cursor:pointer;}#nameDistrict .inner i{font-size:30px}#nameDistrict #loadInMap{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}#nameDistrict.open{height:auto !important;}#nameDistrict.open #loadInMap{opacity:1;-ms-filter:none;filter:none;}#nameDistrict.open #loadInMap #workZone{width:100%;text-align:left;padding:10px 0;}#nameDistrict.open #loadInMap #workZone .left{width:50px;display:inline-block;text-align:center;}#nameDistrict.open #loadInMap #workZone .left small{font-weight:800;text-decoration:underline}#nameDistrict.open #loadInMap #workZone .right{text-align:left;width:calc(100% - 100px);display:inline-block;margin-left:20px;}#nameDistrict.open #loadInMap #workZone .right small{font-weight:800;text-decoration:underline}#nameDistrict.open #distZone{text-align:left;padding:10px 5px;}#nameDistrict.open #distZone div{width:100%;text-align:left;}#nameDistrict.open #distZone div label{margin-left:50px}#nameDistrict.open #areaZone{text-align:left;padding:10px 5px;}#nameDistrict.open #areaZone div{width:100%;text-align:left;}#nameDistrict.open #areaZone div label{margin-left:50px}.activoEnlaLista{list-style:outside none none;background:transparent;z-index:99;position:absolute;top:0;width:100%;height:100%}#openFilter{display:block;width:100%;height:100%;position:fixed;top:0%;left:100%;background:rgba(255,255,255,0.7);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);z-index:9999999}#openFilter.open{left:0;opacity:1;-ms-filter:none;filter:none}#tecnoDialog,#genericLoad,#poiLoad{display:block;width:100%;height:100%;position:fixed;top:100%;left:0;background:rgba(255,255,255,0.7);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);}#tecnoDialog #closeLoader,#genericLoad #closeLoader,#poiLoad #closeLoader,#tecnoDialog #closeGeneric,#genericLoad #closeGeneric,#poiLoad #closeGeneric,#tecnoDialog #closePoi,#genericLoad #closePoi,#poiLoad #closePoi{width:100%;height:49px;background:#fff;text-align:center;border-bottom:1px solid #2196f3;}#tecnoDialog #closeLoader i,#genericLoad #closeLoader i,#poiLoad #closeLoader i,#tecnoDialog #closeGeneric i,#genericLoad #closeGeneric i,#poiLoad #closeGeneric i,#tecnoDialog #closePoi i,#genericLoad #closePoi i,#poiLoad #closePoi i{color:#2196f3;font-size:30px;padding:5px 0}#tecnoDialog .inner,#genericLoad .inner,#poiLoad .inner{overflow:auto;margin:10px;}#tecnoDialog .inner h5,#genericLoad .inner h5,#poiLoad .inner h5{color:#2196f3;text-align:center}#tecnoDialog .inner .filtersLine,#genericLoad .inner .filtersLine,#poiLoad .inner .filtersLine{width:90%;margin:0 auto;}#tecnoDialog .inner .filtersLine .filter,#genericLoad .inner .filtersLine .filter,#poiLoad .inner .filtersLine .filter{width:100%;padding:10px 0;text-align:center;background:#2196f3;-webkit-border-radius:5px;border-radius:5px;margin:5px;cursor:pointer;}#tecnoDialog .inner .filtersLine .filter h1,#genericLoad .inner .filtersLine .filter h1,#poiLoad .inner .filtersLine .filter h1{color:#fff;font-weight:100;font-size:15px}#tecnoDialog .inner .loadArea h1,#genericLoad .inner .loadArea h1,#poiLoad .inner .loadArea h1{display:none !important}#tecnoDialog .inner .tecnoCheck,#genericLoad .inner .tecnoCheck,#poiLoad .inner .tecnoCheck{display:none;width:100%;margin-top:0;background:rgba(255,255,255,0.85);padding-bottom:20px;}#tecnoDialog .inner .tecnoCheck li,#genericLoad .inner .tecnoCheck li,#poiLoad .inner .tecnoCheck li{margin:0 auto;text-align:left;display:block;padding:10px;float:none;list-style:none;width:38%;border-bottom:1px solid #2196f3}#tecnoDialog .inner #poiCheck,#genericLoad .inner #poiCheck,#poiLoad .inner #poiCheck{width:100%;height:70%;position:absolute;overflow-x:hidden;}#tecnoDialog .inner #poiCheck li,#genericLoad .inner #poiCheck li,#poiLoad .inner #poiCheck li{width:100%;padding:10px;font-size:12px;color:#2196f3;border-bottom:1px solid #2196f3;background:rgba(255,255,255,0.5);vertical-align:middle;}#tecnoDialog .inner #poiCheck li input,#genericLoad .inner #poiCheck li input,#poiLoad .inner #poiCheck li input{vertical-align:middle}#tecnoDialog .inner .center,#genericLoad .inner .center,#poiLoad .inner .center{text-align:center;width:100%;color:#2196f3}#tecnoDialog .inner #verSelecion,#genericLoad .inner #verSelecion,#poiLoad .inner #verSelecion{background:#008000;padding:10px 5px;width:120px;-webkit-border-radius:5px;border-radius:5px;margin:20px auto;}#tecnoDialog .inner #verSelecion p,#genericLoad .inner #verSelecion p,#poiLoad .inner #verSelecion p{display:inline-block;color:#fff;margin:0;font-size:15px}#tecnoDialog .inner #verSelecion i,#genericLoad .inner #verSelecion i,#poiLoad .inner #verSelecion i{display:inline-block;color:#fff;font-size:20px;margin-left:5px}#tecnoDialog .inner form,#genericLoad .inner form,#poiLoad .inner form{margin-top:10px;}#tecnoDialog .inner form fieldset,#genericLoad .inner form fieldset,#poiLoad .inner form fieldset{color:#fff;background:#2196f3;overflow:hidden;border:0;margin:10px;padding:15px;text-align:center;}#tecnoDialog .inner form fieldset h3,#genericLoad .inner form fieldset h3,#poiLoad .inner form fieldset h3{color:#fff;text-align:center;margin:10px 0 25px 10px;padding:0;font-size:1.5em}#tecnoDialog .inner form fieldset input[type="text"],#genericLoad .inner form fieldset input[type="text"],#poiLoad .inner form fieldset input[type="text"]{background:#58abec;border:0;padding:10px;width:90%;margin:12px auto;display:block;-webkit-appearance:none;-moz-appearance:none;appearance:none}#tecnoDialog .inner form fieldset input[type="text"]:first-child,#genericLoad .inner form fieldset input[type="text"]:first-child,#poiLoad .inner form fieldset input[type="text"]:first-child{margin-top:20px}#tecnoDialog .inner form fieldset ::-webkit-input-placeholder,#genericLoad .inner form fieldset ::-webkit-input-placeholder,#poiLoad .inner form fieldset ::-webkit-input-placeholder{color:#f1f1f1}#tecnoDialog .inner form fieldset :-moz-placeholder,#genericLoad .inner form fieldset :-moz-placeholder,#poiLoad .inner form fieldset :-moz-placeholder{color:#f1f1f1}#tecnoDialog .inner form fieldset ::-moz-placeholder,#genericLoad .inner form fieldset ::-moz-placeholder,#poiLoad .inner form fieldset ::-moz-placeholder{color:#f1f1f1}#tecnoDialog .inner form fieldset :-ms-input-placeholder,#genericLoad .inner form fieldset :-ms-input-placeholder,#poiLoad .inner form fieldset :-ms-input-placeholder{color:#f1f1f1}#tecnoDialog .inner form fieldset .onoffswitch,#genericLoad .inner form fieldset .onoffswitch,#poiLoad .inner form fieldset .onoffswitch{position:relative;width:55px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;margin-left:10px;}#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-checkbox,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox{display:none}#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-label,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-label,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-label{display:block;overflow:visble;font-size:1.1em;white-space:nowrap;cursor:pointer;height:20px;padding:0 0 0 55px;line-height:20px;border:0 solid #fff;-webkit-border-radius:30px;border-radius:30px;background-color:#9e9e9e;color:#ccc}#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-label:before,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-label:before,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-label:before{content:"";display:block;width:30px;margin:-5px;background:#fff;position:absolute;top:0;bottom:0;right:31px;-webkit-border-radius:30px;border-radius:30px;-webkit-box-shadow:0 6px 12px 0 #757575;box-shadow:0 6px 12px 0 #757575}#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label{background-color:#295171;color:#fff}#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label,#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label:before,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label:before,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label:before{border-color:#42a5f5}#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner{margin-left:0}#tecnoDialog .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label:before,#genericLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label:before,#poiLoad .inner form fieldset .onoffswitch .onoffswitch-checkbox:checked + .onoffswitch-label:before{right:0;background-color:#00d9ff;-webkit-box-shadow:3px 6px 18px 0 rgba(0,0,0,0.2);box-shadow:3px 6px 18px 0 rgba(0,0,0,0.2)}#tecnoDialog .inner form fieldset span,#genericLoad .inner form fieldset span,#poiLoad .inner form fieldset span{overflow:hidden;display:inline-block;font-size:1.3em;padding-bottom:14px;margin-left:10px}#tecnoDialog .inner form fieldset button,#genericLoad .inner form fieldset button,#poiLoad .inner form fieldset button{display:block;margin:10px auto;background:#82b149;border:0;padding:10px}#tecnoDialog.open,#genericLoad.open,#poiLoad.open{top:0;opacity:1;-ms-filter:none;filter:none;z-index:9}#goTo{z-index:0;width:auto;right:-140px;height:60px;position:absolute;top:66px;overflow:hidden;}#goTo div{border:1px solid #fff;z-index:8;height:35px;width:35px;text-align:center;-webkit-border-radius:5px;border-radius:5px;background:#2196f3;display:inline-block;}#goTo div i{top:50% !important;position:relative !important;-webkit-transform:translateY(-50%) !important;-moz-transform:translateY(-50%) !important;-o-transform:translateY(-50%) !important;-ms-transform:translateY(-50%) !important;transform:translateY(-50%) !important;color:#fff;background:#2196f3;z-index:9;padding:6px 8px;-webkit-border-radius:5px;border-radius:5px}#goTo.open{right:69px}#centraUsuario{width:44px;background:#fff;cursor:pointer;font-size:1.8em;float:none;position:absolute;bottom:65px;left:15px;color:#2196f3;padding:6px 0 8px 0;-webkit-border-radius:50%;border-radius:50%;-webkit-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;height:30px;text-align:center}#menuPullerWiket{
			position:absolute;
			background-image:url(../images/menu_top.png);
			z-index:1;
			width:37px; 
			height:36px;
			cursor:pointer;
			right:0;
			top:8px;
			margin-right:23px;
		}		
		
		.titleMenu{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:30px;
			border-top:#CCCCCC solid 1px;
		}
		
		.titleMenuWiket{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:15px;
			text-align:left;
			border-top:#CCCCCC solid 1px;
		}		
		
		.widg{
			width:400px;
			height:430px;
			position:absolute;
			top:100px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#CCCCCC solid 1px;
			list-style:none;
		}
		
		#socketizable{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:500px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
		}
		
		.mapaDin{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:560px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
			visibility:hidden; 
			min-width:400px;
		}
		
		#distritosXareaPOP{
			width:1000px;
			height:900px;
		}
		
		/*.mapaDin{
			width:1000px;
			height:900px;
		}	*/	
		
		#graphs{
			width:400px;
			height:400px;
			position:absolute;
			top:550px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#CCCCCC solid 1px;
		}		
		
		.manejador{
			background-color:#CCCCCC;
			height:25px;
			cursor:move;
			border-bottom:#999999 solid 1px;
			width:inherit;
		}	

		
		#gallery{
			margin:10px;
			list-style:none;
		}

		#gallery li{
			width:160px;
			height:153px;
			background-color:#FFFFFF;
			border:solid 1px #000000;
			margin:5px;
			display:inline;
			float:left;
			font-size:10px;
			text-align:center;
			padding:0px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			line-height:25px;			
		}

		#widgets{
			display:block;
			width:200px;
			height:200px;
			zindex:2; 
			position:absolute; 
			top:420px; 
			left:10px; 
			/*background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');*/
		}
		
				
		
		#divic td, #ares td, #distr td{
			/*margin:5px 20px;*/
			background-color:rgba(235,248,204,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCDAF7C7', endColorstr='#CCDAF7C7');
			/*line-height:30px;*/
			padding:3px;
			border-bottom:#FFFFFF solid 1px;
		}
		
		#widgets ul{
			margin:0px; 
			padding:0px;
			list-style:none;
		}		
		

		
		
		#detalleSlide{
			right:0; 
			top:50px;		
			position:absolute;
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			background-color:rgba(250,250,250,0.9);
			z-index:1;
			width:100%; 
			height:95%;
			color:#333333;
			font-size:12px;
			float:right;
			border-left:#CCCCCC solid 1px;
			overflow:auto;
		}		
		



#tecnoCheck,#poiCheck{
	margin:0px;
	padding:0px;
}



#dist{
	text-align: center !important;
	padding-top: 10px !important;
}
.select{position:relative;background:#f00 !important;padding-bottom:0 !important;}.select .tecnoCheck{display:block !important}@-moz-keyframes slideTitle{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}25%,75%{opacity:1;-ms-filter:none;filter:none;width:130px}100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}}@-webkit-keyframes slideTitle{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}25%,75%{opacity:1;-ms-filter:none;filter:none;width:130px}100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}}@-o-keyframes slideTitle{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}25%,75%{opacity:1;-ms-filter:none;filter:none;width:130px}100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}}@keyframes slideTitle{0%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}25%,75%{opacity:1;-ms-filter:none;filter:none;width:130px}100%{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);width:0}}