@charset "utf-8";
	  	#map-canvas{
	  	max-width:700px;
	  	min-height:  500px;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position:fixed;
        top:50px;
        left:0%;
      }		
		
	  	#header{
			height:50px; 
			background-color:#3367d6; 
			width:100%; 
			position: fixed;
			top:45px;
			left:0px;
			z-index: 9;
		}
		
		#menu{
			left:0px; 
			width:100%;
			top:50px;		
			position:absolute;
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			background-color:rgba(250,250,250,0.8);
			z-index:2;
			width:auto; 
			height:auto;
			color:#333333;
			font-size:12px;
			display:inline;
			float:left;
			border-right:#CCCCCC solid 1px;
		}
		
		#menuWiket{
			right:0; 
			top:50px;		
			position:absolute;
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			background-color:rgba(250,250,250,0.8);
			z-index:2;
			width:430px; 
			height:95%;
			color:#333333;
			font-size:12px;
			float:right;
			border-left:#CCCCCC solid 1px;
		}		
		
		#menuPuller{
			position:absolute;
			background-image:url(../images/menu_top.png);
			z-index:1;
			width:37px; 
			height:36px;
			cursor:pointer;
			left:23px;
			top:8px;
		}
		
		#menuPullerWiket{
			position:absolute;
			background-image:url(../images/menu_top.png);
			z-index:1;
			width:37px; 
			height:36px;
			cursor:pointer;
			right:0;
			top:8px;
			margin-right:23px;
		}		
		
		.titleMenu{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:30px;
			border-top:#CCCCCC solid 1px;
		}
		
		.titleMenuWiket{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:15px;
			text-align:left;
			border-top:#CCCCCC solid 1px;
		}		
		
		.widg{
			width:400px;
			height:430px;
			position:absolute;
			top:100px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#CCCCCC solid 1px;
			list-style:none;
		}
		
		#socketizable{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:500px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
		}
		
		.mapaDin{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:560px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
			visibility:hidden; 
			min-width:400px;
		}
		
		#distritosXareaPOP{
			width:1000px;
			height:900px;
		}
		
		/*.mapaDin{
			width:1000px;
			height:900px;
		}	*/	
		
		#graphs{
			width:400px;
			height:400px;
			position:absolute;
			top:550px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#CCCCCC solid 1px;
		}		
		
		.manejador{
			background-color:#CCCCCC;
			height:25px;
			cursor:move;
			border-bottom:#999999 solid 1px;
			width:inherit;
		}	

		
		#gallery{
			margin:10px;
			list-style:none;
		}

		#gallery li{
			width:160px;
			height:153px;
			background-color:#FFFFFF;
			border:solid 1px #000000;
			margin:5px;
			display:inline;
			float:left;
			font-size:10px;
			text-align:center;
			padding:0px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			line-height:25px;			
		}

		#widgets{
			display:block;
			width:200px;
			height:200px;
			zindex:2; 
			position:absolute; 
			top:420px; 
			left:10px; 
			/*background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');*/
		}
		
		#activos{
			display:block;
			width:auto;
			height:auto;
			zindex:2; 
			position:absolute; 
			top:70px; 
			left:100px; 
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:10px;
			border:solid #999999 1px;
			overflow:auto;
			text-align:left;
		}				
		
		#divic td, #ares td, #distr td{
			/*margin:5px 20px;*/
			background-color:rgba(235,248,204,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCDAF7C7', endColorstr='#CCDAF7C7');
			/*line-height:30px;*/
			padding:3px;
			border-bottom:#FFFFFF solid 1px;
		}
		
		#widgets ul{
			margin:0px; 
			padding:0px;
			list-style:none;
		}		
		
		#listaDist{
			margin:0px; 
			padding:0px;
		}
		
		#listaDist li {
			border:solid #CCCCCC 1px;
			background-color:#F2FBD9;
			padding:2px;
			display:inline;
			list-style:none;
			margin:3px 3px 0px 0px;
		}
		
		
		#detalleSlide{
			right:0; 
			top:50px;		
			position:absolute;
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			background-color:rgba(250,250,250,0.9);
			z-index:1;
			width:100%; 
			height:95%;
			color:#333333;
			font-size:12px;
			float:right;
			border-left:#CCCCCC solid 1px;
			overflow:auto;
		}		
		
		.activoEnlaLista{
			display:inline; 
			float:left; 
			list-style:none; 
			text-align:center; 
			background-color:#CCCCCC;  
			padding:5px 0px;
			/*line-height:21px;*/
			font-size:10px;
		}


#tecnoCheck,#poiCheck{
	margin:0px;
	padding:0px;
}

#tecnoCheck li{
	display:inline;
	float:left;
	list-style:none;
	width:120px;
}

#poiCheck li{
	display:inline;
	float:left;
	list-style:none;
	width:250px;
}

		
		
#tecnoDialog{
	background: #fff;
}
#dist{
	text-align: center !important;
	padding-top: 10px !important;
}