@import 'nib'
telmexBlue = #2196F3;
body *
	position relative
#overlay
	display none
	top 0
	left 0
	position fixed
	width 100%
	height 100%
	background rgba(0,0,0, .9)
	z-index 999
	.inner
		width 50%
		height auto
		max-height 90%
		overflow auto
		position relative
		top 50%
		transform translateY(-50%)
		margin 0 auto
		z-index 999
		#close-overlay 
			color #fff
			width 100% 
			text-align right 
			color #ffff
			font-size 20px
			cursor pointer
			transition all .3s ease
			span
				margin 10px
				text-align center
				border 2px solid #ccc
				padding 5px
				border-radius 50%
				width 30px
				height 30px
				display inline-block
				line-height 15px
			&:hover
				color red
				span
					border-color red
		#load
			color telmexBlue
			width 100% 
			height 100% 
.logo-box
	width 100% 
	height 100px 
	background telmexBlue
	animation: bind 0.7s ease
	text-align center
	h3 
		color #fff 
		margin 0 
		padding 0 
		position relative 
		top 50% 
		margion 0 auto 
		transform translateY(-50%)
		span 
			font-weight 100		
.holder
	width 100% 
	text-align center
	background telmexBlue
	height auto 
	color #fff
	min-height 250px
	i
		font-size 30px
	input 
		width 30% 
		color #fff 
	.block 
		display block 
		width 80% 
		margin 0 auto
		color #fff !important
		text-align center
		select, option 
			color #fff !important
		i 
			float left
	.select-wrapper
		.select-dropdown 
			color #fff !important
	.distritosText 
		p 
			text-align center
		small		
			background-color #fff
			padding 5px 
			display inline-block 
			vertical-align center 
			color telmexBlue
			font-size 14px 
			margin-left 5px
			transition all .3s ease
			&:hover 
				cursor pointer
				color black
				border-radius 5px
				box-shadow -3px -3px -3px 15px black
#login-c4 
	width 80% 
	padding 15px 10px 
	margin 20px auto
	input[type="text"]
		background url(img/usr.png) no-repeat center left
		padding-left 40px
	input[type="password"]
		background url(img/lock.png) no-repeat center left
		padding-left 40px

.select-wrapper 
span.select-dropdown
	width 90% 
	margin 0 auto
#filter-box
	overflow hidden
	margin-top -60px
	width 100% 
	height auto
	display block
	text-align center
	padding 20px
	background-color #F7F7F7
	.box
		width 33.33%
		float left
		select 
			width 100%
	.sendbtn 
		width 100% 
		float none 
		display block
		clear both
	h4
		font-weight 100
	.distritosText 
		small		
			background-color telmexBlue
			padding 5px 
			display inline-block 
			vertical-align center 
			color #fff
			font-size 14px 
			margin-left 5px
			transition all .3s ease
			&:hover 
				cursor pointer
				color black
				border-radius 5px
				box-shadow -3px -3px -3px 15px black
#edit-form 
	width 100% 
	height 100% 
	background telmexBlue
	.input-fild 
		width 33% 
		display inline-block
#login-wrapper 
	width 100% 
	height 100% 
	position absolute
	background telmexBlue
	h1 
		float left 
		width 100% 
		font-weight 100
		color #fff
		text-align center
		span 
			font-weight 800
	.inner.error
		transition height .5s
		height 310px
		span.error
			animation bind 1s ease
			color red
			text-align center
			display block
			font-size 1.5em
			position absolute
			line-height 1
			margin 10px 0 0 0
	.inner
		transition height .5s
		min-width 300px
		width 100%
		height 250px
		position absolute
		margin -125px 0 0
		top 50%
		span.error
			display none
		form
			display block
			width 40%
			min-width 300px
			height 100%
			background #fff
			margin 0 auto
		.content
			overflow hidden
			width 80%
			height auto
			margin 0 auto
			position relative
			top 50% 
			transform translateY(-50%)
			p 
				width 100%
				font-size 1.1em
				color green
				text-align center
			input[type="text"]
				background url(img/usr.png) no-repeat center left
				padding-left 35px
			input[type="password"]
				background url(img/lock.png) no-repeat center left
				padding-left 30px
			.button-holder 
				width 100%
				text-align center
				padding-top 20px
		
@keyframes bind
	for i in 0..10
		{10% * i}
			opacity (i/10)
#loadPlace 
	background #fff
.newUser-holder 
	width 100% 
	height 100% 
	background #fff
	padding 10px
	input
		width 100%
		display inline-block
		margin 0
.holder-block 
	width 100% 
	height 200px
	p 
		text-align center
	.box 
		width 33.33%
		float left
		select 
			width 100%
	.sendbtn 
		width 100% 
		float none 
		display block
		clear both
	h4
		font-weight 100
	.distritosText 
		small		
			background-color telmexBlue
			padding 5px 
			display inline-block 
			vertical-align center 
			color #fff
			font-size 14px 
			margin-left 5px
			transition all .3s ease
			&:hover 
				cursor pointer
				color black
				border-radius 5px
				box-shadow -3px -3px -3px 15px black
.listaDist
	position relative
	width 300px
	background #fff
	text-align center
	margin 10px auto
	max-height 100px
	overflow auto
	li 
		display inline-block
		margin 5px
		line-height 1
		color telmexBlue
		transition all .3s ease
		position relative
		&:after
			content ('')
		&:hover 
			color red
			cursor pointer
			&:after
				position after
				right 13px
				content ('-')
				position absolute
body.dentroc4
	select
		padding 3px
		margin  0
		border-radius 0
		background #fff
		color #666
		border 1px solid #ccc
		outline none
		display inline-block
		appearance none
		cursor pointer
	div.box.col.s12.m4.l4
		label
			position relative
		label:after
			content '\e6bb'
			font-family "Material-Design-Icons"
			color #aaa
			transform rotate(90deg)
			right 8px
			top 2px
			padding 0 0 2px
			border-bottom 1px solid #ddd
			position absolute
			pointer-events none
	#index-banner
		.container
			overflow hidden
	#filter-box
		div.box
			margin-bottom 10px
			label
				font-size 1.3em
				select
					padding 3px 40px 3px 3px;
			label:after
				top -3px
		.distritosText
			clear both
	div.clear
		clear both
	ul.devices
		margin 0
		padding 0
		display block
		text-align center
		li
			width 40%
			display inline-block
			list-style none
			text-align left
			border 1px solid #dedede
			padding 10px
			margin 0 15px 25px 0
			border-radius 3px
			box-shadow 0 1px 5px rgba(0, 0, 0, 0.35)
			font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
			color #555
			label,span
				font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
				font-size 12px
				font-style normal
				font-variant normal
				font-weight bold
				color #393939
				display block
				float left
			label
				height 25px
				width 50px
			textarea,textarea:focus
				appearance none
				border 0
				border-bottom 1px solid #ccc
				display block
				width 100%
				height auto
				max-height 300px
				overflow auto
				margin 10px 0
				outline none
		li.over
			box-shadow none
			margin 0
			padding 0
			border-radius 0
			left 0
			position absolute
			width 100%
			height 100%
			background rgba(0,0,0,.2)
			display none
			z-index 9
			span
				color #fff
				height 100px
				font-size 2em
				line-height 100px
				top 50%
				margin-top -50px
				width 100%
				text-align center
		li.over.s
			display block
	.ui-autocomplete
		z-index 9999999
	#container_mensajes
		div
			h3.text_h2
				font-size 2em
				line-height 1
				span.span_h2
					cursor pointer
					&:after
						font-family "Material-Design-Icons"
						background #eee
						font-size .8em
						display inline-block
						content "\e89c"
						color red
						margin -10px 0 0 10px
						position absolute
		form
			textarea,textarea:focus
				appearance none
				border 0
				border-bottom 1px solid #ccc
				display block
				width 100%
				height auto
				max-height 300px
				overflow auto
				margin 10px 0
				outline none
#showUP
	display none
#adminUsers
	.row
		margin-bottom 4px
		#au_usuarios,#au_newusr
			float none
			width auto
			border 1px solid #77ADD8
			margin 10px
		#au_usuarios
			padding-bottom 10px
		#au_newusr
			overflow hidden
			padding 10px 40px
			#FormNewUser
				.newUser-holder
					margin-top 20px
					.FNUpas
						margin-bottom 40px
					.holder-block
						overflow hidden
						height auto
						margin 10px 0
						background #efefef
						padding 0 10px 10px
						.col.distritosText
							float none
							margin 0 auto
							clear both
							padding 30px 0 0 0
						label
							select
								padding-right 30px
								height 28px
							&:after
								font-size 1.4em
								top -6px
						.col
							padding 0
						p
							text-transform uppercase
							font-size 0.8em
							color #9e9e9e
							text-align left
					.rol_user
						width 300px
						label
							font-size 1.4em
							position relative
							&:after
								font-size 1.2em
								content '\e6bb'
								font-family "Material-Design-Icons"
								color #aaa
								transform rotate(90deg)
								right 8px
								top -6px
								padding 0 0 2px
								border-bottom 1px solid #ddd
								position absolute
								pointer-events none
@media (max-width: 500px)
	body
		font-size .8em