#map-canvas{max-width:700px;min-height:500px;height:100%;width:100%;margin:0;padding:0;position:fixed;top:50px;left:0%}#menuPuller{position:absolute;right:10px;z-index:9;top:60px;height:35px;width:35px;}#menuPuller i{top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}#menu{width:100%;height:100%;position:absolute;background:#2196f3;z-index:9999;top:100%;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);}#menu select{margin-top:20px;width:80%;padding:10px;background:transparent url("../../css/img/select.png") no-repeat 90% center/10px auto;outline:none;border:none;color:#fff;border-bottom:1px solid #fff;text-align:center}#menu #distritosText{display:none;}#menu #distritosText small{color:#fff;text-align:center;display:block}#menu #distritosText input[type="text"]{margin-top:30px;background:transparent;border:none;color:#fff;padding:10px;border-bottom:1px solid #fff}#menu #distritosText i{color:#fff;font-size:35px;vertical-align:middle}#menu #distritosText #listaDist{margin-top:10px;}#menu #distritosText #listaDist li{display:inline;color:#f00;margin-left:10px;}#menu #distritosText #listaDist li:after{content:'-'}#menu #mostrarDatosGeoTel{margin-top:20px;background:#008000;border:none;padding:10px 20px;-webkit-border-radius:5px;border-radius:5px;color:#fff}#menu #menuJumper{background:#fff;text-align:center;border-bottom:1px solid #fff;}#menu #menuJumper i{display:block;color:#2196f3;font-size:35px;padding:5px}#menu .inner{text-align:center;}#menu .inner h3{color:#fff}#menu.active{top:0;opacity:1;-ms-filter:none;filter:none}#activos{display:block;width:100%;z-index:2;position:absolute;bottom:0;left:0;background:#2196f3;display:none;}#activos #escondedorActivos{text-align:center;width:100%;background:#2196f3;}#activos #escondedorActivos p{color:#fff;display:inline-block}#activos #escondedorActivos i{color:#fff;display:inline-block;vertical-align:middle;font-size:15px;margin-left:10px}#activos #contenedorActivos{height:100px;}#activos #contenedorActivos .header{width:100%;text-align:center;}#activos #contenedorActivos .header .block{display:inline-block;width:32%;}#activos #contenedorActivos .header .block small{color:#fff}#activos #contenedorActivos .content{margin-top:10px;color:#fff;}#activos #contenedorActivos .content ul li{color:#2196f3;}#activos #contenedorActivos .content ul li:nth-child(2){width:200px}
	#menuPullerWiket{
			position:absolute;
			background-image:url(../images/menu_top.png);
			z-index:1;
			width:37px; 
			height:36px;
			cursor:pointer;
			right:0;
			top:8px;
			margin-right:23px;
		}		
		
		.titleMenu{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:30px;
			border-top:#CCCCCC solid 1px;
		}
		
		.titleMenuWiket{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:15px;
			text-align:left;
			border-top:#CCCCCC solid 1px;
		}		
		
		.widg{
			width:400px;
			height:430px;
			position:absolute;
			top:100px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#CCCCCC solid 1px;
			list-style:none;
		}
		
		#socketizable{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:500px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
		}
		
		.mapaDin{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:560px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
			visibility:hidden; 
			min-width:400px;
		}
		
		#distritosXareaPOP{
			width:1000px;
			height:900px;
		}
		
		/*.mapaDin{
			width:1000px;
			height:900px;
		}	*/	
		
		#graphs{
			width:400px;
			height:400px;
			position:absolute;
			top:550px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#CCCCCC solid 1px;
		}		
		
		.manejador{
			background-color:#CCCCCC;
			height:25px;
			cursor:move;
			border-bottom:#999999 solid 1px;
			width:inherit;
		}	

		
		#gallery{
			margin:10px;
			list-style:none;
		}

		#gallery li{
			width:160px;
			height:153px;
			background-color:#FFFFFF;
			border:solid 1px #000000;
			margin:5px;
			display:inline;
			float:left;
			font-size:10px;
			text-align:center;
			padding:0px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			line-height:25px;			
		}

		#widgets{
			display:block;
			width:200px;
			height:200px;
			zindex:2; 
			position:absolute; 
			top:420px; 
			left:10px; 
			/*background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');*/
		}
		
				
		
		#divic td, #ares td, #distr td{
			/*margin:5px 20px;*/
			background-color:rgba(235,248,204,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCDAF7C7', endColorstr='#CCDAF7C7');
			/*line-height:30px;*/
			padding:3px;
			border-bottom:#FFFFFF solid 1px;
		}
		
		#widgets ul{
			margin:0px; 
			padding:0px;
			list-style:none;
		}		
		

		
		
		#detalleSlide{
			right:0; 
			top:50px;		
			position:absolute;
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			background-color:rgba(250,250,250,0.9);
			z-index:1;
			width:100%; 
			height:95%;
			color:#333333;
			font-size:12px;
			float:right;
			border-left:#CCCCCC solid 1px;
			overflow:auto;
		}		
		
		.activoEnlaLista{
			color:#fff;
			display:inline; 
			float:left; 
			list-style:none; 
			text-align:center; 
			padding:5px 0px;
			/*line-height:21px;*/
			font-size:10px;
		}


#tecnoCheck,#poiCheck{
	margin:0px;
	padding:0px;
}

#tecnoCheck li{
	display:inline;
	float:left;
	list-style:none;
	width:120px;
}

#poiCheck li{
	display:inline;
	float:left;
	list-style:none;
	width:250px;
}

		
		
#tecnoDialog{
	background: #fff;
}
#dist{
	text-align: center !important;
	padding-top: 10px !important;
}
