@import 'nib/'
blueTelmex = #2196F3
#map-canvas
	max-width 700px
	min-height 500px
	height 90%
	width 100%
	margin 0
	padding 0
	position fixed !important
	top 50px 
	left 0%
#circule 
	user-select none
	tap-highlight-color transparent
	width 50px 
	height 50px 
	background blueTelmex
	border-radius 50%
	position absolute
	z-index 9
	right 10px
	top 60px
	text-align center
	cursor pointer
	border 1px solid #fff
	h1 
		transform translateY(-50%)
		top 50%
		position relative
		color #ffff
		text-align center
		padding 0 
		margin 0
#circule.open 
	transform rotate(-135deg)
	background red
#map-menu 
	display block
	opacity 0
	top -180px
	height 50%
	width 50px
	position absolute
	right 7px
	z-index -1
	#menuPuller,#techMenu,#chartMenu,#fildersMenu,#clientMenu,#flushTodo,#navegacionMenu
		border 1px solid #fff
		position absolute
		right 10px
		z-index 9
		top 60px
		height 35px
		width 35px
		text-align center
		border-radius 5px
		background blueTelmex
		z-index 9
		i 
			top 50% !important
			position relative !important
			transform translateY(-50%) !important
			color #fff
			background blueTelmex
			z-index 9 
			padding 6px 8px 
			border-radius 5px
		.showtitle
			top 0
			margin 0
			position absolute
			right -200px
			height 15px
			width 130px
			background-color blueTelmex
			padding 10px 5px
			color rgb(255, 255, 255)
			border-radius 5px
			opacity 0
			animation slideTitle 3s ease
			small
				color #fff 
				text-align center
				position absolute
				min-width 130px
				top 10px
				left 0px
#map-menu.open 
	opacity 1
	display block
	height 50%
	width 50px
	top 110px
	z-index 9
	#techMenu 
		top 5px
		.showtitle
			display none
			animation slideTitle 3s ease 
			animation-delay 5s
	#chartMenu
		top 5px
		.showtitle
			display none
			animation slideTitle 3s ease 
			animation-delay 8s
	#fildersMenu 
		top 48px 
		.showtitle
			display none
			animation slideTitle 3s ease 
			animation-delay 11s
	#clientMenu
		top 90px
		.showtitle
			display none
			animation slideTitle 3s ease 
			animation-delay 14s
	#navegacionMenu
		top 45px
		.showtitle
			display none
			animation slideTitle 3s ease 
			animation-delay 17s
	#flushTodo
		top 86px
		.showtitle
			display none
			animation slideTitle 3s ease 
			animation-delay 20s
#menu 
	width 100% 
	height 100% 
	position absolute
	background blueTelmex
	z-index 9999
	top 100%
	opacity 0 
	select 
		margin-top 20px
		width 80% 
		padding 10px 
		background transparent url(../../css/img/select.png) no-repeat 90% center/ 10px auto
		outline none 
		border none
		color #fff
		border-bottom 1px solid #fff
		text-align center
	#distritosText
		display none 
		small 
			color #fff 
			text-align center
			display block
		input[type="text"]
			margin-top 30px
			background transparent
			border none
			color #fff
			padding 10px
			border-bottom 1px solid #fff
		i 
			color #fff 
			font-size 35px
			vertical-align middle
		#listaDist 
			margin-top 10px
			li
				display inline
				color red 
				margin-left 10px
				&:after 
					content ('-')
	#mostrarDatosGeoTel
		margin-top 20px
		background green 
		border none 
		padding 10px 20px 
		border-radius 5px 
		color #fff
	#menuJumper 
		background #fff
		text-align center
		border-bottom 1px solid #fff
		i 
			display block 
			color blueTelmex
			font-size 35px 
			padding 5px
	.inner 
		text-align center
		h3 
			color #fff
#menu.active 
	top 0px 
	opacity 1
#nameDistrict
	z-index 9
	width 100%
	position fixed
	bottom 0px
	color #fff 
	background rgba(255,255,255,.7)
	text-align center
	height 40px
	.inner
		background blueTelmex
		height 40px 
		width 100%  
		display block
		cursor pointer
		&:before
			content "\f077"
			display inline-block
			font-size 30px
			font-family 'FontAwesome'
	#loadInMap
		opacity 0
		height 94%
		overflow-x auto
#nameDistrict.open 
	height 100% 
	position fixed
	bottom 0px
	.inner
		&:before
			content "\f078"
	#loadInMap
		opacity 1
		#workZone 
			width 100%
			text-align left 
			padding 10px 0px
			.left
				width 50px 
				display inline-block
				text-align center
				small 
					font-weight 800 
					text-decoration underline
			.right 
				text-align left
				width calc(100% - 100px)
				display inline-block
				margin-left 20px
				small 
					font-weight 800 
					text-decoration underline
	#distZone,#areaZone
		text-align left
		padding 10px 5px
		text-align center
		overflow hidden
		.row.med
			color #cccccc
			&:after
				content "\f068"
		.row.checked
			color #1DD21D
			&:after
				content "\f00c"
		.row
			background blueTelmex
			width 90%
			padding 20px 0
			border-radius 5px
			text-align left
			margin 5px auto
			text-align center
			position relative
			color #FF0000
			&:after
				content "\f00d"
				display block
				position absolute
				top 16px
				left 10px
				font-size 24px
				width 24px
				height 24px
				text-shadow -1px 0px 0 #000
				font-family 'FontAwesome'
			label
				padding 20px 0
				color #fff
			input.todo
				opacity 0
				cursor pointer
				position absolute
				top 16px
				left 10px
				width 24px
				height 24px
				z-index 999
			.filters
				display none
				color #333
				label
					display block
				div
					margin 10px 0
					overflow hidden
					label.ATM
						color #5FB404
					label.FTTH
						color #FF8000
					label.IPDSLAM
						color #0080FF
					label.ND
						color #8000FF
					label.TBA
						color #B40404
					label.VDSL.IPD
						color #FF00FF
					label.VDSL.TBA
						color #01DFD7
					label.WIMAX
						color #FFBF00
				.Usuarios
					label
						background #ccc
						color #fff
						width 50%
						float left
						input
							opacity 0
					label.checked
						background blueTelmex
				.Tecnologias
					text-align left
					h4
						margin 14px 0
						color #333
						text-align center
					label
						border-bottom 1px solid #eee
						margin 0
						padding 10px 0 10px 20px
						&:before
							content "\f096"
							display inline-block
							font-size 16px
							font-family 'FontAwesome'
							margin-right 10px
						input
							opacity 0
							width 2px
					label.checked
						&:before
							content "\f046"
		.row.open
			cursor pointer 
			background #fff
			border 1px solid blueTelmex
			label
				color blueTelmex
			.filters
				display block
.select-filter
	background red !important
.activoEnlaLista
	list-style outside none none
	background transparent
	z-index 99
	position absolute
	top 0
	width 100%
	height 100%
#openFilter 
	display block
	width 100% 
	height 100% 
	position fixed
	top 0%
	left 100%
	background rgba(255,255,255,.7)
	opacity 0
	z-index: 9999999;
#openFilter.open 
	left 0
	//z-index: 999
	opacity 1
#tecnoDialog,#genericLoad,#poiLoad
	display block
	width 100% 
	height 100% 
	position fixed
	top 100%
	left 0
	background rgba(255,255,255,.7)
	opacity 0
	#closeLoader,#closeGeneric,#closePoi
		width 100%
		height 49px 
		background #fff
		text-align center
		border-bottom 1px solid blueTelmex
		i 
			color blueTelmex
			font-size 30px
			padding 5px 0px
	.inner
		overflow-x hidden
		overflow-y auto
		margin 0
		height 84%
		#regresaChart
			background #fff
			overflow hidden
			padding-top 20px
			#linearChart
				margin 0 0 20px 0
				padding-bottom 10px
				border-bottom 1px solid #eee
		h5
			color blueTelmex
			text-align center
		.filtersLine 
			width 90%
			margin 0 auto
			.filter
				width 100%
				text-align center
				background blueTelmex
				border-radius 5px 
				margin 5px
				cursor pointer
				h1
					padding 20px 0px
					color #fff 
					font-weight 100 
					font-size 15px 
		.loadArea 
			h1 
				display none !important
		.tecnoCheck
			display none
			width 100%
			margin-top 0px
			background rgba(255,255,255,.85)
			padding-bottom 20px
			li
				margin 0 auto
				text-align left
				display block
				padding 10px
				float none
				list-style none
				width 38%
				border-bottom 1px solid blueTelmex	
		#poiCheck
			width 100%  
			height 70% 
			position absolute
			overflow-x hidden
			li 
				width 100% 
				padding 10px 
				font-size 12px 
				color blueTelmex
				border-bottom 1px solid blueTelmex
				background rgba(255,255,255,.5)
				vertical-align middle
				input  
					vertical-align middle
		.center
			text-align center 
			width 100% 
			color blueTelmex
		#verSelecion
			background green 
			padding 10px 5px
			width 120px 
			border-radius 5px
			margin 20px auto
			p
				display inline-block
				color #fff 
				margin 0
				font-size 15px
			i
				display inline-block 
				color #fff
				font-size 20px
				margin-left 5px
		form
			margin-top 10px
			fieldset
				color #fff
				background #2196f3
				overflow hidden
				border 0
				margin 10px
				padding 15px
				text-align center
				h3
					color #fff
					text-align center
					margin 10px 0 25px 10px
					padding 0
					font-size 1.5em
				input[type="text"]
					background #58ABEC
					border 0
					padding 10px
					width 90%
					margin 12px auto
					display block
					appearance none
				input[type="text"]:first-child
					margin-top 20px
				::-webkit-input-placeholder
					color #f1f1f1
				:-moz-placeholder
					color #f1f1f1
				::-moz-placeholder
					color #f1f1f1
				:-ms-input-placeholder
					color #f1f1f1
				.onoffswitch
					position relative
					width 55px
					-webkit-user-select none
					-moz-user-select none
					-ms-user-select none
					margin-left 10px
					.onoffswitch-checkbox
						display none
					.onoffswitch-label
						display block
						overflow visble
						font-size 1.1em
						white-space nowrap
						cursor pointer
						height 20px
						padding 0 0 0 55px
						line-height 20px
						border 0px solid #FFFFFF
						border-radius 30px
						background-color #9E9E9E
						color #ccc
					.onoffswitch-label:before
						content ""
						display block
						width 30px
						margin -5px
						background #FFFFFF
						position absolute
						top 0
						bottom 0
						right 31px
						border-radius 30px
						box-shadow 0 6px 12px 0px #757575
					.onoffswitch-checkbox:checked + .onoffswitch-label
						background-color #295171
						color #fff
					.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before
						border-color #42A5F5
					.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
						margin-left 0
					.onoffswitch-checkbox:checked + .onoffswitch-label:before
						right 0px
						background-color #31DE46
						box-shadow 3px 6px 18px 0px rgba(0, 0, 0, 0.2)
				span
					overflow hidden
					display inline-block
					font-size 1.3em
					padding-bottom 14px
					margin-left 10px
				button
					display block
					margin 10px auto
					background #82B149
					border 0
					padding 10px
#tecnoDialog.open,#genericLoad.open,#poiLoad.open
	top 0
	opacity 1
	z-index 99
#goTo
	z-index 0
	width auto
	right -140px
	height 60px
	position absolute
	top 66px
	overflow hidden
	div
		border 1px solid #fff
		z-index 8
		height 35px
		width 35px
		text-align center
		border-radius 5px
		background blueTelmex
		display inline-block
		i
			top 50% !important
			position relative !important
			transform translateY(-50%) !important
			color #fff
			background blueTelmex
			z-index 9 
			padding 6px 8px
			border-radius 5px
#goTo.open
	right 69px
#centraUsuario
	width 44px
	background blueTelmex
	border 1px solid #fff
	cursor pointer
	position absolute
	bottom 65px
	left 15px
	padding 6px 0 8px 0
	border-radius 50%
	height 30px
	text-align center
	i 
		color #fff
		position relative
		top 50% 
		transform translateY(-50%)
		font-size 30px
@css{
	#menuPullerWiket{
			position:absolute;
			background-image:url(../images/menu_top.png);
			z-index:1;
			width:37px; 
			height:36px;
			cursor:pointer;
			right:0;
			top:8px;
			margin-right:23px;
		}		
		
		.titleMenu{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:30px;
			border-top:#CCCCCC solid 1px;
		}
		
		.titleMenuWiket{
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:18px;
			/*margin:20px 10px 20px 30px;*/
			line-height:40px;
			background-color:#6094ea;
			color:#FFFFFF;
			padding-left:15px;
			text-align:left;
			border-top:#CCCCCC solid 1px;
		}		
		
		.widg{
			width:400px;
			height:430px;
			position:absolute;
			top:100px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#CCCCCC solid 1px;
			list-style:none;
		}
		
		#socketizable{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:500px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
		}
		
		.mapaDin{
			width:450px;
			height:550px;
			position:absolute;
			top:100px;
			left:560px;
			float:right;
			background-color:rgba(250,250,250,0.9);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:2;
			border:#000000 solid 2px;
			list-style:none;
			overflow:hidden;
			visibility:hidden; 
			min-width:400px;
		}
		
		#distritosXareaPOP{
			width:1000px;
			height:900px;
		}
		
		/*.mapaDin{
			width:1000px;
			height:900px;
		}	*/	
		
		#graphs{
			width:400px;
			height:400px;
			position:absolute;
			top:550px;
			left:100px;
			float:right;
			background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			z-index:1;
			border:#CCCCCC solid 1px;
		}		
		
		.manejador{
			background-color:#CCCCCC;
			height:25px;
			cursor:move;
			border-bottom:#999999 solid 1px;
			width:inherit;
		}	

		
		#gallery{
			margin:10px;
			list-style:none;
		}

		#gallery li{
			width:160px;
			height:153px;
			background-color:#FFFFFF;
			border:solid 1px #000000;
			margin:5px;
			display:inline;
			float:left;
			font-size:10px;
			text-align:center;
			padding:0px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			line-height:25px;			
		}

		#widgets{
			display:block;
			width:200px;
			height:200px;
			zindex:2; 
			position:absolute; 
			top:420px; 
			left:10px; 
			/*background-color:rgba(250,250,250,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');*/
		}
		
				
		
		#divic td, #ares td, #distr td{
			/*margin:5px 20px;*/
			background-color:rgba(235,248,204,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCDAF7C7', endColorstr='#CCDAF7C7');
			/*line-height:30px;*/
			padding:3px;
			border-bottom:#FFFFFF solid 1px;
		}
		
		#widgets ul{
			margin:0px; 
			padding:0px;
			list-style:none;
		}		
		

		
		
		#detalleSlide{
			right:0; 
			top:50px;		
			position:absolute;
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CCffffff', endColorstr='#CCffffff');
			background-color:rgba(250,250,250,0.9);
			z-index:1;
			width:100%; 
			height:95%;
			color:#333333;
			font-size:12px;
			float:right;
			border-left:#CCCCCC solid 1px;
			overflow:auto;
		}		
		



#tecnoCheck,#poiCheck{
	margin:0px;
	padding:0px;
}



#dist{
	text-align: center !important;
	padding-top: 10px !important;
}

}
@keyframes slideTitle
	0%
		opacity 0
		width 0
		right -200px
	25%,75% 
		opacity 1
		width 130px
		right 28px
	100%
		opacity 0 
		width 0
		right -200px

.select
	position relative
	background red !important
	padding-bottom 0px !important
	
	.tecnoCheck 
		display block !important
.toolTipMap 
	div 
		margin 5px 0px
		display block 
		small 
			display block 
			
		span
			display block 
			
.uncheck 
	background grey !important
	i 
		color red !important