@import 'nib'
@import 'normalize.css'
@import 'font-awesome.min.css'
blueTelmex = #2196F3
*
	transition all .5s ease !important
#wrapper 
	width 100% 
	height 100% 
	position fixed
	#nav 
		width 100% 
		height 50px
		background blueTelmex url(img/appLogo.png) no-repeat center center /140px auto
		position relative 
		#appMenu
			width 40px 
			height 40px
			position absolute
			left 5px 
			top 5px
			text-align center
			cursor pointer
			transition none !important
			i 
				color #fff 
				font-size 35px
				margin 0 auto
				position relative 
				top 50% 
				transform translateY(-50%)
		#appMenu.active 
			width 100%
			height 100%
			position fixed
			text-align center
			top 0
			left 70%
			transition all .3s linear !important
			i 
				color tomato
				font-size 35px
				position absolute
				top 24px
				left 20px
				width 100% 
				background blueTelmex
				text-align left
	#content 
		width 100% 
		height 100% 
		.homeInner
			width 100% 
			height 17% 
			text-align center 
			background: url('img/assets/blur.jpg') center center/cover
			p 
				padding 10px 0
				margin  0
				font-size 20px
				color #fff
			strong 
				text-shadow 1px 2px black
				color #fff
			.activity
				position absolute
				width 100% 
				height 101% 
				bottom calc(-25% - 2px) 
				border-top 2px solid blueTelmex
				background #fff		
				.boxSlide 
					width 50%
					height calc(25% - 2px)
					float left 
					position relative
					background #fff
					background blueTelmex
					border-top 2px solid blueTelmex
					a 
						text-decoration none
						color #fff
						position absolute
						width 100%
						height 100% 
						left 0 
						top 0
						.inner
							top 50%
							position relative
							transform translateY(-50%)
							i 
								color #fff
								font-size 30px 
								display block					
								span
									position absolute
									font-size 11px
									background red
									padding 4px 6px
									border-radius 100px
									font-family sans-serif
									top -8px
							p 
								color #fff
								margin 0 auto
								display block
				.boxSlide.active 
					background rgba(0, 0, 0, .3)
					box-shadow 8px 7px 18px -8px rgba(33, 150, 243, 0.75) inset
				.boxSlide.active2 
					background rgba(0, 0, 0, .3)
					box-shadow 8px 7px 18px -8px rgba(33, 150, 243, 0.75) inset
					i 
						color #fff
						font-size 30px
						top 50%
						position relative
						display block
						transform translateY(-50%)
					p 
						color #fff
						margin 0 auto 
						top 50% 
						display block
						position relative
						transform translateY(-50%)
		.mensageInner
			width 100% 
			height 100% 
			text-align center 
			h3 
				padding 0
				margin 10px 0
				font-size 20px
				color blueTelmex
			.inner 
				width 100% 
				height 100% 				
				.MensageHolder
					color #0F85E2
					background #fff
					width 100%
					height 85px
					border-top 1px solid #ccc
					overflow hidden
					display block
					float none
					clear both
					position relative
					text-align left
					transition all 0.3s ease
					.text
						text-align left
						margin-left 86px
						p
							font-size 18px
							margin 20px 0
							width 94%
							overflow hidden
							white-space nowrap
							height 24px
							text-overflow ellipsis
						#readit
							position absolute
							width 30px
							height 20px
							right 0px
							top 0px
							i
								color red
								font-size 15px
								&:nth-child(2)
									margin-left -8px
						.center 
							width 100% 
							display block 
							text-align left
							span
								color #666
								font-size 11px
					span.mailbox
						display block
						margin 0 0 0 10px
						width 64px
						height 64px
						position absolute
						background url('../svg/mail.svg') 0 0 no-repeat
					&:last-child
						border-bottom 1px solid #ccc
				.MensageHolder.open 
					background #F1F1F1
					height auto
					span.mailbox
						background url('../svg/mailb.svg') 0 0 no-repeat
				.MensageHolder.done
					.text 
						#readit
							i 
								color green
					p
						white-space normal
						height auto
			#readMore 
				position fixed 
				bottom 0 
				width 100% 
				height auto
				text-align center 
				background blueTelmex
				cursor pointer
				p 
					color #fff 
					padding 5px 0
					margin 0
		
					
#wrapper.active 
	#nav
		background-image none
		transition none !important
#menuDisplay
	width 70%
	height 100% 
	position fixed 
	background #fff
	top 0
	z-index 9
	left -72%
	box-shadow 5px 0px 5px 0px rgba(50, 50, 50, 0.75)
	transition all .5s linear !important

	.block
		width 100% 
		background #fff
		display block 
		//text-align center 
		padding 10% 0
		border-bottom 1px solid black
		text-align left
		cursor pointer
		p
			color blueTelmex
			margin 0 
			padding 0
			display inline-block
			margin-left 20px
		i 
			color blueTelmex
			margin-left 10px
			font-size 20px
	.block.active
		background blueTelmex
		p 
			color #fff
			font-weight 800
		i
			color #fff
#menuDisplay.active
	left 0%
	transition all .4s linear !important

#formulario
	width 100% 
	height 100% 
	text-align center
	background blueTelmex
	#error 
		display block 
		float none 
		margin-top 10px
		small 
			color red
#newUser, #userInfo
	width 100% 
	height 50px 
	text-align right 
	i
		color #fff 
		font-size 30px
		padding 5px
		cursor pointer

#newUser.left 
	text-align left
.content 
	width 100%
	height auto 
	position absolute
	top 50% 
	text-align center
	transform translateY(-50%)
	.logo 
		width 100% 
		height 70px 
		background url(img/appLogo.png) no-repeat center center/ 50% auto
	p
		font-size 20px
		color #fff 
		font-weight 100
	i
		font-size 20px 
		color #fff
	input[type="text"], input[type="password"]
		background transparent 
		border none 
		border-bottom 1px solid #fff 
		outline none
		color #fff
		font-size 20px
		padding 10px
		margin-top 10px
		width 70%
		font-family sans-serif
	button
		background green 
		color #fff 
		padding 10px 30px 
		outline none 
		border 1px solid green 
		border-radius 5px
		margin-top 40px 
		border 1px groove green
		font-family sans-serif
		
#overlay
	display none
	width 100%
	height 100% 
	position fixed 
	background blueTelmex
	top 0 
	left 0
	.inner 
		width 100% 
		height auto 
#masterLogin
	z-index 9
	top 0 
	left 0 
	width 100% 
	height 100% 
	position fixed 
	background blueTelmex url(img/appLogo.png) no-repeat center 40% / 50% auto
	.inner 
		width 100% 
		height 100% 
		position fixed 
		background url(img/loading.gif) no-repeat center 55%/ 20% auto
.newUserContent 
	background blueTelmex
#mapa-canvas 
	min-width 400px !important
	min-height 600px !important
#menuPuller
	text-align center
	border-radius 5px 
	background blueTelmex
	i 
		color #fff
		position relative
		top 50% 
		transform translateY(-50%)
		font-size 20px
.under 
	background url(img/construction.png) no-repeat center center/ 80% auto